@model MvcAutoAuction.Models.Car

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Car</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BrandId, "Brand")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BrandId", String.Empty)
            @Html.ValidationMessageFor(model => model.BrandId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AutoId, "Auto")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AutoId", String.Empty)
            @Html.ValidationMessageFor(model => model.AutoId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <!-- <div class="editor-label">
            Html.LabelFor(model => model.IntroPrice)
        </div>
        <div class="editor-field">
            Html.EditorFor(model => model.IntroPrice)
            Html.ValidationMessageFor(model => model.IntroPrice)
        </div>

        <div class="editor-label">
            Html.LabelFor(model => model.ExpiryDate)
        </div>
        <div class="editor-field">
            Html.EditorFor(model => model.ExpiryDate)
            Html.ValidationMessageFor(model => model.ExpiryDate)
        </div> -->

        <!--<div class="editor-label">
            Html.LabelFor(model => model.ExpiryDate)
        </div>
        <div class="editor-field">
           Html.TextBox("ExpiryDate", String.Format("{0:ddd, dd MMM yyyy}", DateTime.Now), new { id = "expirydate" })
           Html.ValidationMessageFor(model => model.ExpiryDate)
        </div> -->       
             
        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
